/* You can add custom styles to this file, and also import other style files */

/* Content Header */
.content-header {
  position: relative;
  padding: 60px 15px 0 15px;
}

.content-header>h1 {
  margin: 0;
  font-size: 24px;
}

/* Content */
.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

